<div id="main" class="container">
  <router-outlet></router-outlet>
</div>

<h1>{{title}}</h1>
<input type="button" value="新規登録" routerLink="/insert">

<table border='1' class="table">
	<thead class="info">
		<tr>
			<th>従業員ID</th>
			<th>名前</th>
			<th>入社年月日</th>
		</tr>
	</thead>
	<tbody>
		<!--<tr *ngFor="let emp of itemService.getEmpInfoList()">
			<td><a routerLink="/detail" (click)='onEmployeeId(emp.id)>{{ emp.e_id }}</a></td>
			<td>{{ emp.e_name}}</td>
			<td>{{ emp.join_date}}</td>
		</tr>-->
	</tbody>
</table>